# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.pytest_cache/

# Virtual environment
venv/

# Dependency lock files
Pipfile
Pipfile.lock
poetry.lock

# IDE
.vscode/
.idea/
.history

# Hugging Face cache
~/.cache/huggingface/
~/.cache/torch/
~/.huggingface/
.coverage

# Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/


# Model files
src/models/**/*.pkl
src/models/**/*.safetensors
src/models/**/*.bin
src/models/*.pt
src/models/*.bin
src/models/*.h5
src/models/*.pkl
src/models/**/checkpoint*/
src/models/**/vocab.txt
*.pkl
*.arrow
*.pt
*.safetensors

# Dataset files
src/data/*


# Ignore system files
.DS_Store
__pycache__/

# Environment files
.env
.env.production