# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.pytest_cache/

# Virtual environment
venv/

# Dependency lock files
Pipfile
Pipfile.lock
poetry.lock

# IDE
.vscode/
.idea/
.history

# Hugging Face cache
~/.cache/huggingface/
~/.cache/torch/
~/.huggingface/
.coverage

# Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/

# Model files
models/**/*.pkl
models/**/*.safetensors
models/**/*.bin
models/*.pt
models/*.bin
models/*.h5
models/*.pkl
models/**/checkpoint*/
models/**/vocab.txt

# Dataset files
data/raw/
data/processed/

# Docker
*.dockerignore

# Ignore system files
.DS_Store
__pycache__/